body {
  background-color: #4dffb8;
}

.sidebar{
  float: right;
  list-style-type: none;
  background-color: #e6e600;
  font-size: 20px;
  border: 2px solid green;
  padding-right: 35px;
  margin: 20px;
}

li{
  list-style-type: none;
}
.leftfloat{
  float:left;
  width: 190PX;
}

.rightfloat{
  float: right;
  width: 190px;
}

.ringo {
  background-color: #e6e600;
  border: 2px solid green;
  padding-left: 20px;
  margin: 20px;
}

.bold {
  font-weight: bold;
}

img{
  padding: 2px;
}
