body {
  background-color: #4dffb8;
}

.sidebar{
  list-style-type: none;
  background-color: #e6e600;
  font-size: 20px;
  border: 2px solid green;
  padding-right: 35px;
  margin: 20px;
}

li{
  list-style-type: none;
}
.leftfloat{
  float:left;
  width: 190PX;
}

.rightfloat{
  float: right;
  width: 190px;
}

.ringo {
  background-color: #e6e600;
  border: 2px solid green;
  padding-left: 20px;
  margin: 20px;
}

.bold {
  font-weight: bold;
}

img{
  padding: 2px;
}

@media screen and (min-width: 1001px) {
  .sidebar {
    float: right;
  }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
  body {
    background-color: #80ffff;
  }
  .ringo {
    background-color: #ff6600;
  }
  .sidebar {
    background-color: #ff6600;
  }
}
@media screen and (max-width: 480px) {
  body {
    background-color: #ff66d9
  }
}
