body {
  background-color: #4dffb8;
}

.sidebar{
  float: right;
  list-style-type: none;
  background-color: #e6e600;
  font-size: 20px;
}

.leftfloat{
  float:left;
  width: 190PX;
}

.rightfloat{
  float: right;
  width: 190px;
}

.ringo {
  background-color: #e6e600;
}

.bold {
  font-weight: bold;
}
